* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-Regular.ttf);
}

header {
    height: 76px;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.wrapper {
    margin: 0 auto;
}

.header {
    margin: 0 auto;
    display: flex;
    width: 1512px;
    height: 77px;
    padding: 10px 186px 11px 186px;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 11px 0;
    width: 1140px;
    height: 56px;
    
}

.link {
    color: #4C4C4C;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 53px; /* 407.692% */
    letter-spacing: -1px;
    text-transform: uppercase;
    }

.logo {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 52px;
}

.logo:hover {
    color: #333;
}

.menu {
    color: #333;
    display: flex;
    gap: 31px;
    padding: 0px 11px 0px 30px;
}

a:hover {
    color: #337ab7;
}


.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url('../img/photo-1443527216320-7e744084f5a7-1.jpg.jpg') no-repeat center/cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1027px;
}

.main__heading {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 106.667% */
    margin-bottom: 25px;
}

.main__subtitle {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin: 36px;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 200% */
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn__read-more {
    padding: 15px 61.188px 15px 60.813px;
    border: 2px #745CF9;
    background: #745CF9;
}

.btn__read-more:hover {
    background: #5d47d7;
    border-color: #5d47d7;
    color: #fff;
}

.btn__downoload {
    padding: 15px 42.375px 15px 41.625px;
    border: 2px solid #FFF;
    background-color: transparent;
}

.btn__downoload:hover {
    background: #fff;
    border-color: #fff;
    color: #222;
}

.btn__container {
    display: flex;
    gap: 8px;
    
}