* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

header {
    bottom: -1px;
    /* position: absolute; */
    position: sticky;
    /* top: -1px; */
    width: 100%;
    background: rgba(0, 0, 0, 0.50);
}

.main {
    height: 100vh;
    background: url(../img/ride1.jpg) center / cover no-repeat;
}

.header__wrapper {
    display: flex;
   
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 20px;
    width: 100%;
    padding: 30px 0px 20px 0;
}

.navigation__list {
    display: flex;
    gap: 120px;
}

.main__wrapper {
    display: flex;
    align-items: center;
    padding-top: 400px;
}

.location {
    margin-top: 120px;
    margin-bottom: 300px;
}

.location__title {
    margin-top: 100px;
    margin-bottom: 50px;
}

.location__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.img {
    width: 400px;
    height: 250px;

}

