* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E9E9E0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 25px
}

.wrapper {
    width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__title {
    margin-bottom: 20px;
}
.uberschrift {
    width: 100%;

    display: flex;
    justify-content: space-around;
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
}

.main__wrapper {
    display: flex;
    gap: 20px;
}

.section__title {
    text-align: center;
    margin-bottom: 13px;
}

.info__container {
    display: flex;
    gap: 25px;
}

.img__info {
        width: 469px;
        height: 586px;
}

.text__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13px;
}

/* .aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.aside__title {
    text-align: center;
    margin-bottom: 20px;
  
}
.aside__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aside__box {
    border: 5px solid #333;
    padding: 25px 28px 21px 28px;
    width: 216px;
}

.first-box {
    color: #333;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img {
    width: 100%;
}
